<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kriptografi Vigenere Cipher</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/static/css/mystyle.css">
  </head>
  <body>
</strong>
    <center> <h4><strong>IMPLEMENTASI KRIPTOGRFI PADA CITRA FOVEA AVASCULAR ZONE (FAZ)</strong></h4> </center>
    <center> <h4><strong>MENGGUNAKAN ALGORITMA VIGENERE CIPHER UNTUK KEAMANAN DATA CITRA MEDIS</strong></h4> </center> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

 
    <br>
    <!-- kontent -->
    {% block content %}
    <!-- letakan konten disini jinja template -->
    {% endblock %}
    <!-- footer -->
    <footer class="footer">
        <!-- Footer Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="bg-light rounded-top p-4">
                <div class="row">
                    <div class="col-12 col-sm-6 text-center text-sm-start">
                        <a href="#"></a>This app only purpose for testing Vigenere. 
                    </div>
                    <!-- <div class="col-12 col-sm-6 text-center text-sm-end">
                        Designed By <a href="https://anthoniusadi.github.io">Anthoniusadi</a>

                    </div> -->
                </div>
            </div>
        </div>
    </footer>  
</body>
</html>
