{% extends "home.html" %}
{% block content %}
<!-- header -->

<!-- komponenen -->
<div class="container-fluid">
    <div class="row">
        {%if state_process == True%}
        <div class="col-sm-1">

        </div>
        <div class="col-sm-3">
            <h5 class=""><strong>Citra Uji</strong></h5>
            <div class="card h-100" style="width: 100%;">
                <img class="card-img-top" src = {{citrauji1}} alt="Card image cap">

            </div>
        </div>
        <div class="col-sm-4">
            <h5 class=""><strong>Histogram</strong></h5>
            <!-- <img src="{{ filename2 }}" style="width: 100%;"> -->
            <div class="card h-100" style="width: 100%;">
                <img class="card-img-top" src = {{histo1}} alt="Card image cap">
                <div class="card-body " >
                  <h5 class="card-title">Histogram citra uji 1</h5>
                </div>
               
                <img class="card-img-top" src = {{histo2}} alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Histogram citra uji 2</h5>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <h5 class=""><strong>Citra Uji 2</strong></h5>
            <!-- <img src="{{ filename4 }}" style="width: 100%;"> -->
            <div class="card h-100">
                <img class="card-img-top" src = {{citrauji2}} alt="Card image cap">

            </div>
        </div>
    {%endif%}
</div>
<br>
<hr>
<div class="container-fluid">
    <div class="row">
        <form class="col-sm-5" action="/process_non" method="post" enctype="multipart/form-data">
            <a href="/"><button class="btn btn-primary btn-sm mt-3" type="button">Pindah Pengujian Vigenere</button> </a>
            <br>
            <br>
            <label for="">citra uji 1</label>
            <input class="form-control" type="file" name="imgfile1">
            <br>
            <label for="">citra uji 2</label>
            <input class="form-control" type="file" name="imgfile2">
            <br>
            <!-- <input class="btn btn-primary mt-3" type="submit" value="Process"> -->
            <label for="vigenere">Mode : </label>
            <select name="vigenere" id="vigenere">
                <option value="no" selected>Proses Non-Vigenere</option>
            </select>
            <br>
            <input class="btn btn-primary mt-3" type="submit" value="Process">
        </form>

        <!-- <div class="col-sm-2">
            <a href="/non_vigen"><button class="btn btn-primary mt-5" type="button">Process Tanpa Vigenere</button> </a>
            <a href="/"><button class="btn btn-primary mt-3" type="button">"Process dengan Vigenere"</button></a>

        </div> -->


        <!-- <div class="col-sm-3" action="/process" method="post" enctype="multipart/form-data">
            <label class="form-label" for="customFile">Input Citra</label>
            <input type="file" class="form-control" id="customFile" />
            <br>
            <div class="form-outline">
                <input type="text" id="form12" class="form-control" />
                <label class="form-label" for="form12">input key</label>
            </div>
        </div> -->

        <div class="col-sm-3">  
             
            <!-- <a href=""><button class="btn btn-outline-success" type="button">Proses tanpa Vigenere</button></a>
            <a href=""><button class="btn btn-outline-success" type="button">Proses dengan Vigenere</button></a> -->
            <p>Evaluasi citra PSNR, MSE, NPCR, UACI, ENTROPY</p>
            <a href="/evaluasi_non">
                <button type="button" class="btn btn-primary" >Evaluasi</button>
                </a>
        </div>

        <div class="col-sm-3">
            {%if (state_process == True) and (state == True)%}
            <table>
                <caption>{{keterangan}}</caption>
                <thead>
                    <tr>
                        <th scope="col">Metrics</th>
                        <th scope="col">Nilai</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">PSNR</th>
                        <td>{{values[0]}}</td>
                    </tr>

                    <tr>
                        <th scope="row">MSE</th>
                        <td>{{values[1]}}</td>
                    </tr>
                    <tr>
                        <th scope="row">NPCR</th>
                        <td>{{values[2]}}</td>

                    </tr>
                    <tr>
                        <th scope="row">UACI</th>
                        <td>{{values[3]}}</td>
                    </tr>
                    <tr>
                        <th scope="row">ENTROPY</th>
                        <td>{{values[4]}}</td>
                    </tr>
                </tbody>
            </table>            
                <!-- <span>Results</span> -->
                <!-- <h6>PSNR : {{values[0]}}</h6>
                <h6>MSE : {{values[1]}}</h6>
                <h6>NPCR : {{values[2]}}</h6>
                <h6>UACI : {{values[3]}}</h6>
                <h6>ENTROPY : {{values[4]}}</h6> -->
                <!-- <span>{{keterangan}}</span> -->
            {%else%}
                <span>tombol evaluasi untuk melihat nilai evaluasi</span>
            {%endif%}
            </div>

        </div>


    </div>

</div>
<!-- <hr> -->

<!-- <div class="container-fluid">
{%if state_process == True%}
    <span>Results</span>
    <h4>PSNR : {{values[0]}}</h4>
    <h4>MSE : {{values[1]}}</h4>
    <h4>NPCR : {{values[2]}}</h4>
    <h4>UACI : {{values[3]}}</h4>
    <h4>ENTROPY : {{values[4]}}</h4>
    <span>{{keterangan}}</span>
{%else%}
    <span>Tekan tombol evaluasi untuk melihat nilasi evaluasi</span>
{%endif%}
</div> -->

{% endblock %}
