{% extends "home.html" %}
{% block content %}
<!-- header -->

<!-- komponenen -->
<div class="container-fluid">
    <div class="row">
        {%if state_process == True%}
        <div class="col-sm-3">
            <h5 class=""><strong>Citra Uji</strong></h5>

            <!-- <img src="{{ filename1 }}" style="width: 100%;"> -->
            <div class="card h-100" style="width: 100%;">
                <img class="card-img-top" src = {{filename1}} alt="Card image cap">

            </div>
        </div>
        <div class="col-sm-3">
            <h5 class=""><strong>Histogram</strong></h5>
            <!-- <img src="{{ filename2 }}" style="width: 100%;"> -->
            <div class="card h-100" style="width: 100%;">
                <img class="card-img-top" src = {{filename5}} alt="Card image cap">
                <div class="card-body " >
                  <h5 class="card-title">Histogram Image Enkripsi</h5>
                </div>
               
                <img class="card-img-top" src = {{filename2}} alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Histogram Image Deksripsi</h5>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <h5 class=""><strong>Proses</strong></h5>

            <!-- <img src="{{ filename3 }}" style="width: 100%;"> -->
            <div class="card h-100" style="width: 100%;">
                <img class="card-img-top" src = {{filename3}} alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Hasil Image Enkripsi (Channel) </h5>
                </div>
            
                <img class="card-img-top" src = {{filename4}} alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Hasil Image Dekripsi(Channel)</h5>  
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <h5 class=""><strong>Citra Dekripsi</strong></h5>
            <!-- <img src="{{ filename4 }}" style="width: 100%;"> -->
            <div class="card h-100">
                <img class="card-img-top" src = {{filename6}} alt="Card image cap">

            </div>
        </div>
    {%endif%}
</div>
<br>
<hr>
<div class="container-fluid">

    <div class="row">
        <form class="col-sm-5" action="/process" method="post" enctype="multipart/form-data">
            <a href="/non_vigen"><button class="btn btn-success btn-sm mt-3" type="button">Pindah Pengujian Tanpa Vigenere</button> </a>
            <br>
            <br>
            <input class="form-control" type="file" name="imgfile">
            <br>
            <input type="text" id="form12" class="form-control" name="key">
            <label class="form-label" for="form12">input key</label>
            <br>
            <!-- <input class="btn btn-primary mt-3" type="submit" value="Process"> -->

            <label for="vigenere">Mode : </label>
            <select name="vigenere" id="vigenere">
                <option value="yes" selected>Proses dengan Vigenere</option>
            </select>
            

            <br>
            <input class="btn btn-success mt-3" type="submit" value="Process">
            <a href="/evaluasi">
                <button type="button" class="eval btn btn-success" >Evaluasi</button>
            </a> 

        </form>

        <!-- <div class="col-sm-2">
            <a href="/non_vigen"><button class="btn btn-primary mt-5" type="button">Process Tanpa Vigenere</button> </a>
            <a href="/"><button class="btn btn-primary mt-3" type="button">"Process dengan Vigenere"</button></a>

        </div> -->


        <!-- <div class="col-sm-3" action="/process" method="post" enctype="multipart/form-data">
            <label class="form-label" for="customFile">Input Citra</label>
            <input type="file" class="form-control" id="customFile" />
            <br>
            <div class="form-outline">
                <input type="text" id="form12" class="form-control" />
                <label class="form-label" for="form12">input key</label>
            </div>
        </div> -->

        <!-- <div class="col-sm-3">  
            <p>Evaluasi citra PSNR, MSE, NPCR, UACI, ENTROPY</p>
            <a href="/evaluasi">
                <button type="button" class="btn btn-success" >Evaluasi</button>
            </a>
        </div> -->

        <div class="col-sm-3">
            {%if (state_process == True) and (state == True)%}
            <table>
                <caption>{{keterangan}}</caption>
                <thead>
                    <tr>
                        <th scope="col">Parameter</th>
                        <th scope="col">Nilai</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">PSNR</th>
                        <td>{{values[0]}}db</td>
                    </tr>
                    <tr>
                        <th scope="row">MSE</th>
                        <td>{{values[1]}}</td>
                    </tr>
                    <tr>
                        <th scope="row">NPCR</th>
                        <td>{{values[2]}}%</td>

                    </tr>
                    <tr>
                        <th scope="row">UACI</th>
                        <td>{{values[3]}}</td>
                    </tr>
                    <tr>
                        <th scope="row">ENTROPY</th>
                        <td>{{values[4]}}</td>
                    </tr>
                    <tr>
                        <th scope="row">SSIM</th>
                        <td>{{values[9]}}</td>
                    </tr>
                    <tr>
                        <th scope="row">NCC</th>
                        <td>{{values[10]}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Waktu Komputasi Enkripsi</th>
                        <td>{{values[5]}} detik</td>
                    </tr>
                    <tr>
                        <th scope="row">Waktu Komputasi Dekripsi</th>
                        <td>{{values[6]}} detik</td>
                    </tr>
                    <tr>
                        <th scope="row">Ukuran citra test</th>
                        <td>{{values[7]}} Mb</td>
                    </tr>
                    <tr>
                        <th scope="row">Ukuran citra dekripsi</th>
                        <td>{{values[8]}} Mb</td>
                    </tr>
                    <tr>
                        <th scope="row">Ukuran citra Enkripsi</th>
                        <td>{{values[11]}} Mb</td>
                    </tr>
                </tbody>
            </table>            
                <!-- <span>Results</span> -->
                <!-- <h6>PSNR : {{values[0]}}</h6>
                <h6>MSE : {{values[1]}}</h6>
                <h6>NPCR : {{values[2]}}</h6>
                <h6>UACI : {{values[3]}}</h6>
                <h6>ENTROPY : {{values[4]}}</h6> -->
                <!-- <span>{{keterangan}}</span> -->
            {%else%}
                <!-- <span>tombol evaluasi untuk melihat nilai evaluasi</span> -->
            {%endif%}
            </div>

        </div>


    </div>

</div>
<!-- <hr> -->

<!-- <div class="container-fluid">
{%if state_process == True%}
    <span>Results</span>
    <h4>PSNR : {{values[0]}}</h4>
    <h4>MSE : {{values[1]}}</h4>
    <h4>NPCR : {{values[2]}}</h4>
    <h4>UACI : {{values[3]}}</h4>
    <h4>ENTROPY : {{values[4]}}</h4>
    <span>{{keterangan}}</span>
{%else%}
    <span>Tekan tombol evaluasi untuk melihat nilasi evaluasi</span>
{%endif%}
</div> -->

{% endblock %}
